/*강원교육튼튼*/
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff'),
  url(../font/강원교육튼튼.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

/*나눔스퀘어*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); 
  /* font-family: 'NanumSquare', sans-serif; */

/*LINESeedKR*/
@font-face {
  font-family: 'LINESeedKR-Th';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'),
  url(../font/LINESeedKR-Th.ttf) format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'),
  url(../font/LINESeedKR-Rg.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'),
  url(../font/LINESeedKR-Bd.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}




*{margin:0; padding:0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color:inherit;}
html{scroll-behavior: smooth;}
body{
  z-index:1;
  user-select: none; 
  /* background: url(../img/use/introduction_img.png) center/cover; */
}

header{
  width:15%;
  height:100%;
  color:#fff;
  background-color:#000;
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size:23px;
  line-height:50px;
  position:fixed;
  z-index:600;
  letter-spacing: 1px;
}
header .logo{
  width:100px;
  height:150px;
  margin:auto;
  padding-right:10px;
  padding-bottom:40px;
}
header .logo img{
  margin-top:30px;
  width:100%;
}
header .logo_sec{
  display: none;
}
header #gnb .gnb{
  padding:0 0 0 20%;
  margin-top:30px;
  /* overflow: hidden; */
  position:relative;
  display:flex;
  flex-direction: column;
}
header .gnb > li{
  /* margin-bottom:10px; */
  width:100%;
  height:60px;
  padding:5px 20px;
  line-height:60px;
  box-sizing: border-box;
  position:relative;
}
header .gnb > li:hover{
  width:100%;
  height:60px;
  background-color: #fff;
  color:black;
  border-radius: 30px 0px 0px 30px;
  /* padding-top:5px; */
  box-sizing: border-box;
  cursor:pointer;
}
header #gnb .gnb > li a{
  display: block;
}
header .sub{
  display:none;
  position:absolute;
  width:190px;
  color:#fff;
  background-color: rgba(0,0,0,0.5);
  top:0px;
  left:100%;
  border-radius: 0px 30px 30px 0px;
}
header .sub > li{
  height:100%;
}
header .gnb > li:hover .sub{
  display:block;
  line-height:60px;
  transition: 0.3s;
}
header .gnb > li:hover .sub > li{
  line-height:50px;
  padding-left:25px;
  padding-top:10px;
  box-sizing: border-box;
  z-index:10;
}
header .gnb > li .sub > li:hover{
  width:100%;
  height:100%;
  color:black;
  background-color: rgba(255,255,255,0.5);
}
header .gnb > li .sub > li:first-child:hover{
  border-radius: 0px 30px 0px 0px;
}
header .gnb > li .sub > li:last-child:hover{
  border-radius: 0px 0px 30px 0px;
}
header .gnb > li:hover .sub li a{
  display:block;
}
header .gnb > li:nth-child(2) .sub{
  top:-60px;
}
header .gnb > li:nth-child(4) .sub{
  top:-60px;
}
header .gnb > li:nth-child(5) .sub{
  top:-240px;
}
header .search{
  width:90%;
  height:40px;
  display:flex;
  padding: 0px 10%;
  margin-left:20px;
  margin-top:10px;
  box-sizing: border-box;
}
header .search input{
  width:100%;
  margin: 0px 10px 0px 20px;
  background-color: transparent;
  border:0;
  border-bottom:1px solid #fff;
  color:#555;
  font-size:18px;
  text-indent: 7px;
}
header .search input:focus{
  outline:none;
}
header .search a{
  width:10%;
}
.search_icon{
  position: absolute;
  right:80px;
  font-size:35px;
  line-height:80px;
  display:none;
}
.toggle{
  position: absolute;
  right:20px;
  font-size:35px;
  line-height:80px;
  display:none;
}


#contain{
  width:85%;
  /* max-width:1635px; */
  /* max-width:2162px; */
  height:8400px;
  margin-left:15%;
  position:relative;
  /* padding-top:40px; */
  /* border:1px solid gray; */
  overflow: hidden;
}

#contain .wrap{
  /* border:1px solid red; */
  /* font-family: 'LINESeedKR-Rg'; */ /*안먹는듯*/
  font-family : LINE Seed Sans KR;
}
#contain .wrap .title{
  /* border:1px solid orange; */
  width:100%;
}
#contain .wrap .title > img{
  width:100%;
}
#contain .wrap .title .title_txt{
  /* border: 1px solid purple; */
  width:70%;
  height:610px;
  margin: 140px auto 0px;
  padding:10px;
  box-sizing: border-box;
}
#contain .wrap .title .title_txt h2{
  font-family: 'NanumSquare', sans-serif;
  font-weight: 1000;
  font-size: 53px;  
  /* letter-spacing: -1px; */
  line-height: 50px; 
  margin-bottom:100px;
}
#contain .wrap .title .title_txt .txt{
  display: flex;
}
#contain .wrap .title .title_txt .txt p{
  width:50%;
  font-family : LINE Seed Sans KR;
  font-weight: 500;
  font-size:25px;
  line-height:43px;
  margin:0px 10px;

  /* border:1px solid coral; */
}
#contain .wrap .title .title_txt .txt p b{
  font-weight: 500;
  font-size:30px;
}

#contain .wrap .about{
  width:100%;
  /* border: 1px solid aqua; */
}
#contain .wrap .about .about_title{
  width:100%;
  height:250px;
  background: url(../img/introduction/banner_middle.png) center/cover;
}
#contain .wrap .about .about_title .black{
  width:100%;
  height:100%;
  background: url(../img/introduction/banner_middle_black.png) center/cover;
}
#contain .wrap .about .about_title .black .txt{
  color:#fff;
  text-align: center;
  /* font-family: 'LINESeedKR-Bd'; */
  font-family : LINE Seed Sans KR;
  padding:75px 0px;
  box-sizing: border-box;
}
#contain .wrap .about .about_title .black .txt h3{
  font-size:55px;
  margin-bottom:2px;
}
#contain .wrap .about .about_title .black .txt p{
  font-size:25px;
  font-weight: 100;
}
#contain .wrap .about .about_txt{
  width:100%;
  height:740px;
  position: relative;
}
#contain .wrap .about .about_txt .paint{
  width:950px;
  position:absolute;
  z-index:-1;
  display: block;
  margin-top:225px;
  left:50%;
  transform: translateX(-50%);
}
#contain .wrap .about .about_txt .txt{
  width:100%;
  padding-top:225px;
  text-align: center;
}
#contain .wrap .about .about_txt .txt > h3{
  font-size:37px;
  padding-top:110px;
  margin-bottom:60px;
}
#contain .wrap .about .about_txt .txt > p{
  font-size:18px;
  line-height: 30px;
  /* font-family: 'LINESeedKR-Rg'; */
  /* font-family: Arial; */
  font-family : LINE Seed Sans KR;
  font-weight: 500;
}
#contain .wrap .about .about_txt .txt > p b{
  font-weight: 700;
}

#contain .wrap .about .about_circle{
  /* width:100%; */
}
#contain .wrap .about .about_circle .cir_big_area{
  width:1520px;
  margin:0px auto;
  display: flex;
  /* border: 1px solid pink; */
}
#contain .wrap .about .about_circle .cir_big_area > .cir_big{
  width:420px;
  height:420px;
}
#contain .wrap .about .about_circle .cir_big_area > li:nth-child(1){
  background: url(../img/introduction/cir1.png) center/cover;
}
#contain .wrap .about .about_circle .cir_big_area > li:nth-child(3){
  background: url(../img/introduction/cir2.png) center/cover;
}
#contain .wrap .about .about_circle .cir_big_area > .cir_big:nth-child(5){
  background: url(../img/introduction/cir3.png) center/cover;
}
#contain .wrap .about .about_circle .cir_big_area > li > .black_txt{
  width:100%;
  height:100%;
  border-radius:50%;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  position: relative;
  opacity: 0;
  transition: 1s;
}
#contain .wrap .about .about_circle .cir_big_area > .fir > .black_txt{
  transition-delay: 0.7s;
}
#contain .wrap .about .about_circle .cir_big_area > .sec > .black_txt{
  transition-delay: 1.4s;
}
#contain .wrap .about .about_circle .cir_big_area > .thr > .black_txt{
  transition-delay: 2.1s;
}

#contain .wrap .about .about_circle .cir_big_area > li > .black_txt .txt{
  width:400px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
#contain .wrap .about .about_circle .cir_big_area > li > .black_txt .txt > h4{
  font-size:23px;
  font-weight: 700;
}
#contain .wrap .about .about_circle .cir_big_area > li > .black_txt .txt > p{
  font-size:16px;
  font-weight: 100;
  line-height:25px;
}
#contain .wrap .about .about_circle .cir_big_area > li:nth-child(1) > .black_txt .txt > h4{
  margin-bottom:45px;
}
#contain .wrap .about .about_circle .cir_big_area > li:nth-child(3) > .black_txt .txt > h4,
#contain .wrap .about .about_circle .cir_big_area > li:nth-child(5) > .black_txt .txt > h4{
  margin-bottom:55px;
}

#contain .wrap .about .about_circle .cir_big_area > .and{
  width:130px;
  font-family: 'NanumSquare', sans-serif;
  /* padding:0px 30px; */
  position: relative;
  /* border:1px solid red; */
}
#contain .wrap .about .about_circle .cir_big_area > .and .txt{
  width:70px;
  text-align: center;
  margin:0px 30px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size:50px;
  font-weight: 100;
}

#contain .wrap .about .about_circle .cir_small_area{
  display: flex;
  justify-content: center;
  font-family: 'NanumSquare', sans-serif;
  /* margin:0px 155px; */
}
#contain .wrap .about .about_circle .cir_small_area > ul{
  width:420px;
  /* border:1px solid orangered; */
  margin:0px 61px;

  display:none;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps{
  margin-top:130px;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps .step{
  margin-bottom:70px;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps .step > div{
  margin-bottom:20px;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps .step > div > img{
  display: inline-block;
  /* border: 1px solid blue; */
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps .step > div > span{
  font-size: 18px;
  font-weight: 1000;
  line-height:30px;
  margin-left:2px;
  margin-right:13px;
  /* border: 1px solid pink; */
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .steps .step > p{
  font-size:17px;
  line-height:27px;
}


#contain .wrap .about .about_circle .cir_small_area > ul > li{
  text-align: center;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_sec > li > p{
  color:#363636;
  font-size:35px;
  text-align: center;
  margin:80px 0px;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_sec > li > .txt h4{
  font-size:18px;
  font-weight: 1000;
  margin-top:37px;
  line-height:26px;
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_sec > li > .txt p{
  font-size:17px;
  margin-top:27px;
  line-height:25px;
}

#contain .wrap .about .about_circle .cir_small_area > .cir_small_thr > li > p{
  font-size:18px;
  font-weight: 500;
  margin-top:15px;
}

#contain .wrap .about .about_circle .cir_small_area > ul > .arrow{
  text-align: center;
}
#contain .wrap .about .about_circle .cir_small_area > ul > .arrow img{
  display: inline-block;
  /* opacity:0.3; */
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_fir > .arrow{
  padding:30px 0px 100px 0px;
  /* animation: arrowdown 1s 0.7s linear; */
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_sec > .arrow{
  padding:130px 0px 200px 0px;
  /* animation: arrowdown 1s 1.4s linear; */
}
#contain .wrap .about .about_circle .cir_small_area > .cir_small_thr > .arrow{
  padding:230px 0px 300px 0px;
  /* animation: arrowdown 1s 2.1s linear; */
}

@keyframes arrowdown{
  0%{transform:translateY(-70px); opacity:0;}
  100%{transform:translateY(0px); opacity:100;}
}



/* 우측하단 top버튼들 */
.Btn{
  position:fixed;
  right:1%;
  bottom:2%;
  display:none;
  z-index:1000;
}
.Btn li{
  width:75px;
  height:75px;
  border:1px solid gray;
  border-radius: 40px;
  position: relative;
  background-color: #e7e6e6;
  margin-bottom:10px;
  cursor:pointer;
}
#topBtn{
  border:none;
  background-color: transparent;
}
.Btn li button{
  cursor: pointer;
}
.Btn li img{
  width:45px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity:0.7;
}
.Btn li:hover{
  /* background-color:#ccc; */
  background-color: #fff;
}


footer{
  width:100%;
  min-width:1200px;
  height:400px;
  background-color: #dbdbdb;
  position:absolute;
  z-index:3;
}
footer #wrap{
  max-width:1180px;
  margin:auto;
}
footer #wrap .wrap{
  width:100%;
  display:flex;
  justify-content: space-around;
  padding-top:40px;
}
footer .left .txtlogo{
  width:280px;
  height:40px;
  margin-bottom:55px;
}
footer .left .txtlogo img{
  width:100%;
}
footer .left .txt{
  line-height:40px;
}
footer .left .txt b{
  margin-right:15px;
}

footer .right{
  text-align: right;
  position:relative;
}
footer .follow .sns{
  width:215px;
  height:50px;
  position: absolute;
  right:0;
  top:60px;
  display:flex;
  justify-content:space-between;
}
footer .right h3{
  font-size:33px;
}
footer .right .sns li img{
  width:30px;
}
footer .contact{
  margin-top:65px;
}
footer .contact span{
  font-weight: 500;
  line-height: 30px;
}
footer #copy{
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  border-top:1px solid #999;
}
#copy p{
  line-height: 80px;
  text-align: center;
}


@media(max-width:2070px){
  #contain .wrap .title .title_txt .txt p{
    font-size:22px;
    line-height:38px;
  }
}


@media(max-width:1920px){
  #contain{
    height:8200px;
  }
  #contain .wrap .title .title_txt h2{
    font-size:43px;
    margin-bottom:60px;
  }
  #contain .wrap .title .title_txt .txt p{
    font-size:20px;
    letter-spacing: -1px;
    line-height:35px;
  }
  #contain .wrap .about .about_title{
    height:210px;
  }
  #contain .wrap .about .about_title .black .txt{
    padding:60px 0px;
  }
  #contain .wrap .about .about_title .black .txt h3{
    font-size:47px;
  }
  #contain .wrap .about .about_title .black .txt p{
    font-size:20px;
  }
  #contain .wrap .about .about_txt .paint{
    width:783px;
    height:auto;
  }
  #contain .wrap .about .about_txt .txt > h3{
    font-size:33px;
    padding-top:90px;
    margin-bottom:55px;
  }
  #contain .wrap .about .about_txt .txt > p{
    font-size:16px;
    line-height: 25px;
  }
  #contain .wrap .about .about_circle .cir_big_area{
    width:1480px;
  }
  #contain .wrap .about .about_circle .cir_big_area > .and{
    width:110px;
  }
  #contain .wrap .about .about_circle .cir_big_area > .and .txt{
    width:50px;
  }
  #contain .wrap .about .about_circle .cir_small_area > ul{
    margin:0px 55px;
  }

  .Btn li{
    width:60px;
    height:60px;
  }
  .Btn li img{
    width:40px;
  }
}

@media (max-width:1600px){
  header{
    width:100%;
    height:80px;
    /* position:fixed; */
    position: relative;
  }
  header .headAll{
    height:100%;
  }
  /**/
  header .headAll .search_icon > i{
    max-height:20px;
  }
  /**/
  header .headAll #wrap{
    height:100%;
  }
  header .logo{
    display:none;
  }
  header .logo a{
    width:100%;
  }
  header .logo_sec{
    width:30%;
    height:80px;
    display:block;
    padding:10px 30px;
    box-sizing: border-box;
  }
  header .logo_sec img{
    display: block;
  }
  header #gnb{
    height:80px;
    float:right;
    position:absolute;
    right:0;
    bottom:0;
    display:flex;
    font-size:18px;
  }
  header .headAll #wrap #gnb .gnb{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    /* flex-direction:column;*/
    margin-top:0;
    overflow: visible;
    padding:0;
    margin-right:30px;/**/
  }
  header .gnb > li{
    height:80px;
    padding:15px 20px 0px 20px;
    margin:0;
    position:relative;
    transition: 0.2s;
  }
  header .gnb > li a{
    display: block;
  }
  header .gnb > li:hover{
    /* padding:0; */
    /* margin:0; */
    height:100%;
    border-radius: 0px;
    background-color: #fff;
  }
  header .gnb > li .sub{
    /* width:160px; */
    width:155%;
    position: absolute;
    top:80px;
    left:0;
    border-radius: 0px 0px 30px 30px;
    box-sizing: border-box;
    /* display:none; */
    /* height:0; */
    /* animation: subdown 0.5s; */
  }
  header .gnb > li:hover .sub{
    /* height:100%; */
    transition: height ease-out 1s;
  }
  @keyframes subdown{
    from{height:0%;}
    to{height:100%;}
  }
  header .gnb > li:nth-child(4) .sub,
  header .gnb > li:nth-child(5) .sub{
    width:100%;
  }
  header .gnb > li:nth-child(2) .sub,
  header .gnb > li:nth-child(4) .sub,
  header .gnb > li:nth-child(5) .sub{
    top:80px;
  }
 
  header .gnb > li .sub > li{
    padding:10px 15px 0px 15px;
    border-radius:0;
    line-height:50px;
    box-sizing: border-box;
  }
  header .gnb > li:hover .sub > li{
    padding:10px 15px 0px 15px;
    border-radius:0;
  }
  header .gnb > li .sub > li:hover{
    line-height:50px;
    box-sizing: border-box;
  }
  header .gnb > li .sub > li:first-child:hover{
    border-radius: 0px 0px 0px 0px;
  }
  header .gnb > li .sub > li:last-child:hover{
    border-radius: 0px 0px 30px 30px;
  }
  header input{
    display:none;
  }
  header .headAll #wrap #gnb .search{
    width:10%;
    height:80px;
    /* line-height:80px; */
    padding:15px;
    margin-right:15px;
    box-sizing: border-box;
  }
  header .headAll #wrap #gnb .search img{
    margin-right:10%;
  }
  header #wrap #gnb .gnb li{
    font-size:20px;
  }
  header #wrap #gnb .gnb .search{
    padding-right:5%;
  }

  #contain{
    width:100%;
    margin:auto;
  }
}

@media (max-width:1085px){
  header #wrap #gnb .search{
    display:none;
  }
  .search_icon,
  .toggle{
    display:block;
    padding-top:5px;
  }
  header #gnb{
    width:100%;
    height:100%;
    top:80px;
  }
  header .headAll #wrap #gnb .gnb{
    display:none;
  }


  header .headAll #wrap #gnb .gnb{
    width:100%;
    height:500%;
    display: none;
    background-color: #000;
    flex-direction: column;
    margin:0;
  }
  header #gnb .gnb > li{
    width:100%;
    height:20%;
    position:relative;
    margin:0;
  }
  header #gnb .gnb .sub{
    position: relative;
    width:100%;
    top:0;
    color:#000;
    margin-left:20%;
    z-index:200;
    background-color: #fff;
    border-radius: 0px 0px 30px 30px;
  }
  header #gnb .gnb .sub > li{
    width:100%;
  }
  header #gnb .gnb .sub > li:hover{
    background-color: #e7e6e6;;
  }
  header .headAll #wrap #gnb .search{
    display:none;
  }
}